@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #e5e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  position: absolute;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100%;
  flex-wrap: wrap;
}
section .blob {
  width: 50%;
  text-align: center;
}
section .blob svg {
  width: 300px;
  height: 300px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .decoration-left {
  width: 25%;
  height: 100%;
}
.main .decoration-left .decoration-left-top {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  padding: 1rem;
  align-items: center;
}
.main .decoration-left .decoration-left-top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.main .login {
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  width: 50%;
  z-index: 100;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 3rem;
}
.main .login .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: red;
}
.main .login li {
  text-align: center;
  list-style: none;
  color: red;
}
.main .login::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: 8rem;
  width: 550px;
  height: 280px;
  background: rgba(190, 89, 255, 0.7);
  z-index: -1;
  opacity: 0.5;
  border-radius: 15px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.5;
}
.main .login::before {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 8rem;
  width: 550px;
  height: 160px;
  background: rgba(42, 133, 255, 0.7);
  z-index: -1;
  opacity: 0.5;
  border-radius: 15px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.5;
}
.main .login .form {
  text-align: center;
  position: relative;
  border-radius: 15px;
  width: 300px;
  padding: 1em;
  margin: auto;
  z-index: 1;
}
.main .login .form [type=submit] {
  font-size: 16px;
  background: none;
  padding: 0.8em 1.2em;
  color: #333;
  border-radius: 15px;
  border: 2px solid #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main .login .form [type=submit]:hover {
  color: #38c172;
  box-shadow: none;
  border: 2px solid #38c172;
}
.main .login .form .link {
  color: #1863ff;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 1px solid #1863ff;
  font-weight: bold;
}
.main .login .form .box {
  width: 100%;
  height: 40px;
  text-align: initial;
  color: #333;
  position: relative;
  z-index: 10;
}
.main .login .form .box input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  background: none;
  outline: none;
  transition: all 0.3s;
  color: #333;
}
.main .login .form .box input:valid ~ label, .main .login .form .box input:focus ~ label {
  transform: translateY(-28px);
  font-size: 15px;
  color: #38c172;
}
.main .login .form .box input:valid ~ .underline::before, .main .login .form .box input:focus ~ .underline::before {
  transform: scaleX(1);
}
.main .login .form .box label {
  transition: all 0.3s;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 17px;
  color: #333;
  cursor: auto;
}
.main .login .form .box .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}
.main .login .form .box .underline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #38c172;
  transform: scaleX(0);
  transition: all 0.3s;
}
.main .decoration-right {
  width: 25%;
  height: 100%;
}

/*# sourceMappingURL=login.css.map */
